In [56]:
import numpy as np
import pandas as pd

In [57]:
from numpy.random import randn

In [58]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [59]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [60]:
df

             A         B
G1 1 -0.780602 -0.337232
   2 -0.546308  2.020354
   3 -0.359736  2.048769
G2 1  0.144505  0.154865
   2  0.244211 -0.930440
   3  0.136863 -1.108282

In [61]:
df.loc['G1'].loc[1]

A   -0.780602
B   -0.337232
Name: 1, dtype: float64

In [62]:
print(df.index.names)

[None, None]

In [63]:
df.index.names = ['Groups','Num']

In [64]:
df

                   A         B
Groups Num
G1     1   -0.780602 -0.337232
       2   -0.546308  2.020354
       3   -0.359736  2.048769
G2     1    0.144505  0.154865
       2    0.244211 -0.930440
       3    0.136863 -1.108282

In [65]:
df.loc['G2'].loc[2]['B']

np.float64(-0.9304398148466565)

In [66]:
df.loc['G1'].loc[3]['A']

np.float64(-0.3597364030895992)

In [67]:
df.xs('G1')

            A         B
Num
1   -0.780602 -0.337232
2   -0.546308  2.020354
3   -0.359736  2.048769

In [68]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.780602 -0.337232
G2      0.144505  0.154865